@import '../../styles//contants.scss';
.wrapper{
    overflow: hidden;

    .container{
        position: relative;
        z-index: 1;

    .upperElement{
        @media (max-width:$sm) {
            justify-content: center;
            text-align: center;
            gap:2rem;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        svg{
            animation: bounce 2s infinite;
        }
        
        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-10px);
            }
            60% {
              transform: translateY(-10px);
            }
          }



        a{
            text-decoration: none;
            cursor:pointer;
            color: whitesmoke;
            position:relative;
            padding:10px 20px;
            background:orange;
            font-size:15px;
            border-top-right-radius:10px;
            border-bottom-left-radius:10px;
            transition:all 1s;
            &:after,&:before{
                content:" ";
                width:10px;
                height:10px;
                position:absolute;
                border :0px solid #fff;
                transition:all 1s;
                }
            &:after{
                top:-1px;
                left:-1px;
                border-top:5px solid black;
                border-left:5px solid black;
            }
            &:before{
                bottom:-1px;
                right:-1px;
                border-bottom:5px solid black;
                border-right:5px solid black;
            }
            &:hover{
                border-top-right-radius:0px;
            border-bottom-left-radius:0px;
                // background:rgba(0,0,0,.5);
                // color:white;
                &:before,&:after{
                
                width:100%;
                height:100%;
                // border-color:white;
                }
            }
            
        }
    }
    .lowerElement{
        @media (max-width:$sm), (max-width:$md) {
            margin-top: 10rem;
            gap:2rem;
            justify-content: center;
        }
        margin-top: 12rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .experience{
            display: flex;
            align-items: center;
            gap: 1rem;
            >:nth-child(2){
                line-height: 25px;
            }
        }
        .certificate{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-bottom: 1rem;
                width: 3.5rem;
                // background: blue;
            }
        }
      }
      .email{
        @media (max-width:$md){
            position: relative;
            display: none;
        }
        position: absolute;
        top: 50%;
      }
    .person{
        @media (max-width:$sm), (max-width:$md){
            position: relative;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 20rem;
            background-position: bottom;
        }
        position: absolute;
        bottom: -2rem;
        margin: auto;
        background-image: url('../../../public/splash.png');
        background-repeat: no-repeat;
        background-size: 23rem;
        left: 33%;

        img{
            @media (max-width: $sm) {
                width: 23rem;
                // background: red;
            }
            margin-bottom: -5px;
        }
    }

    }
}