@import '../../styles//contants.scss';
.wrapper{
    background: white;
    overflow: hidden;

    .container{
        flex-direction: column;
        gap:2rem;
        .heading{
             width: 100%;
             justify-content: space-between;
             flex-wrap: wrap;


             >:nth-child(2){
                text-decoration: underline;
                color: orange;
             }
        }
        
        .titleProject{
          max-width: 20rem;
          max-height: 10rem;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap:2rem;
          // background-color: #0093E9;
       
          span{
            font-weight: bold;
          }
          .arrow{
            animation: bounce 2s infinite;
          }
          
       @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
  }
        40% {
        transform: translateY(-30px);
  }
        60% {
        transform: translateY(-15px);
  }
}
        }

    .showCase{
        width: 100%;
        gap: 1.5rem;
        justify-content: space-around;
        flex-wrap: wrap;

        div{
            >img{

                @media (max-width:$sm) {
                    width: 100%;
                }

                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0,0,0, 13%);
                cursor: pointer;
        }
        .details{
            justify-content: space-around;
            margin-top: 2rem;
            flex-direction: column;

            >div{
              display: flex;
              gap: 1rem;
            }

            button {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              a{
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 1rem;
                
                }
                padding: 0.1em 1em;
                border: none;
                outline: none;
                color: rgb(255, 255, 255);
                background: #111;
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 10px;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
              }
              
              button:before {
                content: "";
                background: linear-gradient(
                  45deg,
                  #ff0000,
                  #ff7300,
                  #fffb00,
                  #48ff00,
                  #00ffd5,
                  #002bff,
                  #7a00ff,
                  #ff00c8,
                  #ff0000
                );
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                -webkit-filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing-button 20s linear infinite;
                transition: opacity 0.3s ease-in-out;
                border-radius: 10px;
              }
              
              @keyframes glowing-button {
                0% {
                  background-position: 0 0;
                }
                50% {
                  background-position: 400% 0;
                }
                100% {
                  background-position: 0 0;
                }
              }
              
              button:after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #222;
                left: 0;
                top: 0;
                border-radius: 10px;
              }
        }
        
            
        }
    }
  }
}