@import '../../styles//contants.scss';
.wrapper{
    background: white;
    

h2{
    text-align: center;
   
}
    .container{
        // background: blue;
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
        >div{
            flex:1;
        }

        .leftSide{
            // background: green;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .seo{
                gap: 2rem;
                display: flex;
                align-items:center;
                border: 1px solid $secondary-white;
                border-radius: 20px;
                padding: 1.5rem;
                transition: all 200ms ease-out;
                >:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    gap:1rem;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 21px 13px rgba(0,0,0, 0.04)
                }

            }
            .experince{
                gap: 2rem;
                display: flex;
                align-items:center;
                border: 1px solid $secondary-white;
                border-radius: 20px;
                padding: 1.5rem;
                transition: all 200ms ease-out;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 21px 13px rgba(0,0,0, 0.04)
                }

                >:nth-child(1){
                    padding: 10px;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 999px;
                    
                }
                >:nth-child(2){
                    // background: red;
                    display: flex;
                    flex-direction: column;
                    gap:1rem;
                    >:nth-child(1){
                        font-weight:1.5rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}