@import '../../styles//contants.scss';
.wrapper{
    overflow: hidden;
   

    .container{
        flex-direction: column;
        gap: 2rem;
        // width: 100%;
        .heading{
            width: 100%;
            // background: #acb6e5;  /* fallback for old browsers */
            // background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
            // background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            .program{
                list-style-type: none;
                padding: 1rem;
            }   
        }
        .showCertificates{
            width: 100%;
            gap: 2rem; 
            justify-content: space-around;
            flex-wrap: wrap;
           
            div{
                >img{
                    @media (max-width:$sm) {
                        width: 100%;
                    }
                    border-radius: 20px;
                    max-width: 25rem;
                    max-height: 18rem;
                    box-shadow: 0px 21px 13px rgba(0,0,0, 13%);
                    cursor: pointer;
            }
         }

         
        }
    }
}