@import '../../styles//contants.scss';

.wrapper{

    .container{
        
        .heading{
            flex-direction: column;

            p{
                line-height: 30px;
                font-size: 15px;
                @media  (max-width: $sm) {
                    padding: 1rem;
                }
            }
        }      
        
        .sliderComments{
            margin-top: 12px;
            width: max-content;
            display: flex;
            align-items: center;
            font-size: 12px;
            gap: 2rem;
            padding: 1rem;
            border-radius:10px;
           
            
            @keyframes gradient-animation {
                0% {
                  background-position: 0% 50%;
                }
                50% {
                  background-position: 100% 50%;
                }
                100% {
                  background-position: 0% 50%;
                }
              }

            .iconArrow{
                animation: bounce 2s infinite;
            }
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                  transform: translateX(0);
                }
                40% {
                  transform: translateX(30px);
                }
                60% {
                  transform: translateX(15px);
                }
              }
            span{
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid lightgrey;
            }
            
        }

            .comment{
                
                .slider :global{
                    .slick-list{
                        // margin: 0 -7px;
                        box-sizing: initial;
                        // padding: 80px  0px;
                        overflow-y: visible;
                        & .slick-slide{
                            // padding: 0 20px;
                        } 
                        & .slick-slide .slick-active.slick-current + .slick-slide{
                            @media (min-width: $lg) {
                                transition: all 10000ms ease-in-out;
                                scale: 1.1;
                                transform: translateY(-30px);
                            }
                        }
                    }
                }
            // display: flex!important;
            // flex-direction: column;
            // margin-top: 2rem;
        
        

                .comments {
                    box-shadow: rgba(0 0 0 / 5%) -3px 11px 13px 0px;
                    >img{
                        @media (max-width:$sm) {
                            width: 100%;
                            background-size: cover;
                        }
                        border-radius: 20px;
                        max-width: 25rem;
                        max-height: 18rem;
                        box-shadow: 0px 21px 13px rgba(0,0,0, 13%);
                        image-orientation: none;
                    }
                     >span{
                       padding: 1.4rem;
                     }
                    .bio{
                        padding: 0.5rem;
                        
                        span{
                            font-size:1rem;
                           

                        }
                    }
                }
            }
        
    }
}