@import '../../styles//contants.scss';
.wrapper{
    position: relative;
    z-index: 99;
    opacity: 1;
    transform:none;
    position:sticky;
    top:0;
    transition: all 300ms ease;
    background: #a0d2eb;
   
    .container{
        position: relative;
        justify-content: space-between;
        font-weight: 500;

        .name{
            font-size: 1.5rem;
            font-weight: 500;
        }
        .menu{
            @media (max-width: $sm), (max-width: $md) {
                position: absolute;
                list-style: none;
                gap: 2rem;
                font-weight: 500;
                flex-direction: column;
                top: 1rem;
                right: 0;
                background:white;
                width: 50%;
                min-width: 15rem;
                padding: 2rem;
                display: flex;
                border-radius: 2rem;
                transition: all 500ms ease;
                align-items: flex-start;
                justify-content: flex-end;
                
            }
            text-transform: uppercase;
            font-size: 1rem;
            list-style: none;
            gap: 1.5rem;

            li{
                a{
                color: inherit;
                text-decoration: none;
                }

             &:hover{
                color: $secondary;
                }
            }
            .phone{
                gap:1.3rem;
                flex-wrap: wrap;
                svg{
                    color: $secondary;
                    background: whitesmoke;
                    padding: 10px;
                    border-radius: 999px;
                    -webkit-box-shadow: 1px 12px 15px 5px rgba(66, 68, 90, 1);
                    -moz-box-shadow: 1px 12px 15px 5px rgba(66, 68, 90, 1);
                    box-shadow: 1px 12px 15px 5px rgba(66, 68, 90, 1);
                }
            }
        }
        .menuIcon{
            display: none;
            @media (max-width: $sm), (max-width: $md) {
                display: block
            }
        }
    }
}